weather-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified">

    <!-- ====================  STRUCTURE XML WEATHER OBSERVATION ==================== -->
    <xs:element name="weather_observation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locations">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="location" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="city"></xs:element>
                                        <xs:element name="lactitude" type="cardinalPointType"></xs:element>
                                        <xs:element name="logintude" type="cardinalPointType"></xs:element>
                                        <xs:element ref="observation"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ====================  STRUCTURE XML WEATHER ALERTS ==================== -->

    <xs:element name="weather_alert">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alerts_infos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="alert_info" minOccurs="0" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ==================== REFERENCES XML OBSERVATION ==================== -->

    <xs:element name="observation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:string"></xs:element>
                <xs:element name="temperature">
                    <!-- Como es atributo y contenido simple, ponemos que es complejo-->
                     <!-- Con simpleContent a extensión a atributo.-->
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:decimal">
                                <xs:attribute name="unit" type="unitType"></xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="humidity" type="xs:string"></xs:element>
                <xs:element name="wind_speed">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:int">
                                <xs:attribute name="unit" type="unitSpeed"></xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="condition" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== REFERENCES XML ALERTS ==================== -->
    <xs:element name="alert_info" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alert_id" type="xs:string"></xs:element>
                <xs:element name="generate_at" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"></xs:element>
                <xs:element name="severity" type="xs:string"></xs:element>
                <xs:element name="type" type="xs:string"></xs:element>
                <xs:element name="description" type="xs:string"></xs:element>
                <xs:element name="affected_areas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="affected_area">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="city"></xs:element>
                                        <xs:element name="lactitude" type="cardinalPointType"></xs:element>
                                        <xs:element name="logintude"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="period" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="start" type="xs:dateTime"></xs:element>
                            <xs:element name="end" type="xs:dateTime"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="period">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="start"></xs:element>
                <xs:element name="end"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== TYPES SIMPLETYPE ==================== -->
    <xs:simpleType name="unitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="celsius"></xs:enumeration>
            <xs:enumeration value="fahrenheit"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    

    <xs:simpleType name="unitSpeed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="km/h"></xs:enumeration>
            <xs:enumeration value="m/s"></xs:enumeration>
            <xs:enumeration value="mph"></xs:enumeration>
            <xs:enumeration value="kt"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="cardinalPointType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="cardinal-point"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>